/* PAGINATION BUTTON HOVER */

.pagination-button:hover {
    background-color: #292965;
    color: white;
  }


/* Table container */
.responsive-table-container {
  width: 100%;
  overflow-x: auto;
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  text-align: left;
  white-space: nowrap;
}

@media (max-width: 768px) {
  table, thead, tbody, th, td, tr {
      display: block;
  }

  thead tr {
      display: none;
  }

  tbody tr {
      margin-bottom: 15px;
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 10px;
      background: #fff;
  }

  tbody td {
      display: flex;
      justify-content: space-between;
      padding: 8px;
      border-bottom: 1px solid #eee;
  }

  tbody td::before {
      content: attr(data-label);
      font-weight: bold;
      color: #333;
  }

  .pagination-button {
      margin: 5px;
  }
}

@media (min-width: 769px) {
  tbody td::before {
      content: '';
      display: none;
  }
}


@media (max-width: 1024px) {
    .pagination-button {
        padding: 6px 10px;
        font-size: 14px;
        margin: 4px;
    }
}

@media (max-width: 480px) {
    .pagination-button {
        padding: 4px 8px;
        font-size: 12px;
        
    }
}